<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	
	 <connectionStrings>
		 <add name="ConexionDB"
			connectionString="Server=TITOPC,2112; Database=tallerDB; User Id=TITO; Password=45963697;"
			providerName="System.Data.SqlClient"/>
	 </connectionStrings>


</configuration>
